.about-company {
  margin-bottom: 94px;
  margin-top: 77px;
}

.about-company__wrapper {
  max-width: 1200px;
  min-height: 325px;
  margin: 0 auto;
  padding-left: 195px;
  padding-right: 25px;
  background: url("../img/2005-desktop@1x.png") -15px 5px no-repeat;
}

.about-company__wrapper h2 {
  margin: 0;
  font-size: 36px;
  font-family: $roboto-condensed;
  line-height: 51px;
  color: $secondary-text-color;
  font-weight: normal;
}

.about-company__wrapper p {
  padding-top: 6px;
  font-size: 16px;
  font-family: $pt-mono;
  line-height: 22px;
  color: $secondary-text-color;
}

.about-company__link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  min-height: 45px;
  padding: 0 26px;
  background-color: $primary-text-color;
  color: $title-text-color;
  border: 1px solid $title-text-color;
  border-radius: 5px;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-top: 37px;
}

.about-company__link:hover {
  color: $primary-text-color;
  background-color: $title-text-color;
}

.about-company__link:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: $tablet-width) {
  .about-company {
    margin-bottom: 42px;
  }

  .about-company__wrapper h2 {
    font-size: 32px;
    line-height: 45px;
  }

  .about-company__wrapper {
    padding-left: 213px;
    padding-bottom: 40px;
    background: url("../img/2005-tablet@1x.png") -1px -2px no-repeat;
  }

  .about-company__wrapper p:first-child {
    padding-top: 15px;
  }

  .about-company__link {
    margin-top: 42px;
  }
}

@media (max-width: $mobile-width) {
  .about-company {
    margin-bottom: 65px;
    margin-top: 65px;
  }

  .about-company__wrapper {
    background: none;
    padding-left: 16px;
    padding-right: 15px;
    margin-top: 49px;
  }

  .about-company__wrapper h2 {
    font-size: 28px;
    line-height: 39px;
  }

  .about-company__wrapper .about-company__js-text-change {
    padding-top: 23px;
  }

  .about-company__link {
    margin-top: 28px;
  }
}
