.feedback {
  margin-bottom: 65px;
  background-color: $title-text-color;
}

.feedback__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 1540px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 187px;
  padding-top: 90px;
  background: url("../img/airplane@1x.png") 160px 161px no-repeat,
    url("../img/polygon-feedback.svg") 6px 95px no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/airplane@2x.png") 160px 161px/511px 288px no-repeat,
      url("../img/polygon-feedback.svg") 6px 95px no-repeat;
  }
}

.feedback__form {
  width: 570px;
  min-height: 244px;
}

.feedback__form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 51px;
}

.feedback__contacts-name {
  margin-right: 31px;
}

.feedback__form h2 {
  margin: 0;
  font-weight: normal;
  font-family: $roboto-condensed;
  color: $primary-text-color;
  font-size: 36px;
  line-height: 51px;
}

.feedback__form p {
  margin: 0;
  padding-left: 4px;
  padding-top: 11px;
}

.feedback__form p,
.feedback__form label {
  font-size: 16px;
  line-height: 22px;
  color: $primary-text-color;
  font-family: $pt-mono;
}

.feedback__form input::-webkit-input-placeholder,
.feedback__form textarea::-webkit-input-placeholder {
  color: $primary-text-color;
}

.feedback__form input:-ms-input-placeholder,
.feedback__form textarea:-ms-input-placeholder {
  color: $primary-text-color;
}

.feedback__form input::-moz-placeholder,
.feedback__form textarea::-moz-placeholder {
  color: $primary-text-color;
}

.feedback__form input:-moz-placeholder,
.feedback__form textarea:-moz-placeholder {
  color: $primary-text-color;
}

.feedback__form input[type="text"] {
  min-width: 270px;
  margin-bottom: 39px;
}

.feedback__form input[type="tel"] {
  min-width: 269px;
}

.feedback__form input[type="text"],
.feedback__form input[type="tel"],
.feedback__form textarea {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  padding-right: 15px;
  font-family: $pt-mono;
  font-size: 16px;
  line-height: 22px;
  background-color: #19baff;
  border: none;
  color: $primary-text-color;
}

.feedback__form input[type="text"]:hover,
.feedback__form input[type="tel"]:hover,
.feedback__form textarea:hover {
  border: 1px solid $primary-text-color;
}

.feedback__form input[type="text"]:hover {
  margin-bottom: 37px;
}

.feedback__submit label:hover::before {
  background: url("../img/form-vector-checkbox.svg") 50% 50% no-repeat;
}

.feedback__form textarea {
  width: 100%;
  min-height: 154px;
  resize: none;
}

.feedback__form button {
  padding: 0 15px;
  background: #00b2ff;
  border: 1px solid $primary-text-color;
  color: $primary-text-color;
  border-radius: 5px;
  min-width: 270px;
  min-height: 45px;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.feedback__submit {
  display: flex;
  margin-top: 45px;
  margin-left: 1px;
  margin-bottom: 113px;
}

.feedback__submit label,
.feedback__submit button, {
  cursor: pointer;
}

.feedback__submit button:hover {
  background-color: $primary-text-color;
  color: $title-text-color;
}

.feedback__submit button:active {
  color: rgba(0, 178, 255, 0.3);
}

.feedback__submit label {
  position: relative;
  padding-left: 70px;
  padding-top: 8px;
  font-size: 14px;
  line-height: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 38px;
    width: 16px;
    height: 16px;
    border: 1px solid $primary-text-color;
  }
}

.feedback__submit input[type="checkbox"]:checked + label::before {
  background: url("../img/form-vector-checkbox.svg") 50% 50% no-repeat;
}

@media (max-width: $tablet-width) {
  .feedback {
    margin-bottom: 19px;
  }

  .feedback__wrapper {
    background-image: none;
    padding-left: 91px;
    padding-right: 87px;
    justify-content: center;
    padding-top: 80px;
  }

  .feedback__form {
    width: auto;
    max-width: 590.85px;
  }

  .feedback__form h2 {
    font-size: 32px;
    line-height: 45px;
  }

  .feedback__form input[type="text"] {
    margin-bottom: 41px;
    min-width: 279.88px;
  }

  .feedback__form input[type="tel"] {
    min-width: 278.84px;
  }

  .feedback__form p {
    padding-top: 16px;
  }

  .feedback__form input[type="tel"],
  .feedback__form input[type="text"],
  .feedback__form textarea {
    padding: 16px 14px 17px 20px;
  }

  .feedback__form textarea {
    min-height: 161px;
    padding-top: 14px;
  }

  .feedback__submit {
    margin-top: 47px;
    margin-bottom: 104px;
  }

  .feedback__submit button {
    min-width: 280.88px;
  }

  .feedback__submit label {
    padding-left: 73px;

    &::before {
      top: 9px;
      left: 41px;
    }
  }
}

@media (max-width: $mobile-width) {
  .feedback__wrapper {
    min-width: 290px;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .feedback__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: auto;
    max-width: none;
  }

  .feedback__form form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }

  .feedback__form input[type="text"],
  .feedback__form input[type="tel"] {
    min-width: 290px;
  }

  .feedback__contacts-name {
    width: 100%;
    margin-right: 0;
    margin-bottom: -9px;
  }

  .feedback__contacts-tel {
    width: 100%;
    margin-bottom: 28px;
  }

  .feedback__form input[type="text"] {
    width: 100%;
    margin-right: 0;
    padding-top: 13px;
    padding-left: 17px;
  }

  .feedback__submit {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 43px;
  }

  .feedback__form h2 {
    padding-top: 30px;
    font-size: 28px;
    line-height: 39px;
  }

  .feedback__form p {
    padding-top: 12px;
    padding-left: 0;
  }

  .feedback__form textarea {
    padding-left: 17px;
    padding-top: 14px;
    min-height: 104px;
  }

  .feedback__submit label {
    padding-left: 33px;
    padding-top: 0;
    margin-top: 31px;

    &::before {
      top: 1px;
      left: 0;
    }
  }

  .feedback__form input[type="tel"] {
    width: 100%;
    padding-left: 17px;
    padding-top: 13px;
  }
}
