.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 32px;
}

.main-nav__logo {
  display: flex;
  flex-direction: row;
}

.main-nav__logo-text {
  padding-left: 18px;
  padding-top: 6px;
}

.main-nav__logo-text p {
  margin: 0;

  &:first-child {
    font-family: $roboto-condensed;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
  }

  &:nth-child(2) {
    font-family: $roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #788891;
  }
}

.main-nav__menu {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  margin-left: 116px;
  cursor: pointer;
  background: none;
  border: none;
}

.main-nav--closed .main-nav__menu::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  width: 37px;
  height: 1px;
  background-color: #ffffff;
  box-shadow: 0 12px 0 0 #ffffff;
}

.main-nav__link {
  display: flex;
  align-items: center;
  margin-right: 50px;
  font-family: $pt-mono;
  font-size: 16px;
  line-height: 18px;
}

.main-nav__link--mail {
  margin-right: 90px;
}

.main-nav__link--mail span {
  margin-left: 19px;
}

.main-nav__link--tel span {
    padding-left: 14px;
}

.main-nav__feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  min-height: 45px;
  padding: 0 26px;
  margin-right: 4px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main-nav__contact {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

@media (max-width: 1100px) {
  .main-nav__menu {
    margin-left: auto;
  }
}

@media (max-width: $tablet-width) {
  .main-nav {
    padding-top: 19px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .main-nav__link span {
    @include visually-hidden;
  }

  .main-nav__feedback  {
    @include visually-hidden;
  }

  .main-nav__link--mail svg {
    width: 26px;
    height: 19px;
  }

  .main-nav__link--tel svg {
    width: 24px;
    height: 24px;
  }

  .main-nav__menu {
    margin-top: -4px;
    margin-left: auto;
  }

  .main-nav__contact {
    margin-left: 0;
  }

  .main-nav__link {
    padding-left: 34px;
    margin-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .main-nav__logo-text {
    @include visually-hidden;
  }

  .main-nav__logo img {
    width: 38px;
    height: 38px;
  }

  .main-nav {
    padding-top: 17px;
    padding-left: 17px;
  }

  .main-nav__contact {
    margin-right: -10px;
    margin-bottom: 4px;
  }

  .main-nav__link {
    padding-left: 23px;
  }
}
