.page-footer {
  margin-bottom: 15px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 199px;
    background-color: #626962;
    opacity: 0.2;
  }
}

.page-footer__wrapper {
  max-width: 1448px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.page-footer__logo {
  display: flex;
  flex-direction: row;
}

.page-footer__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__list.social {
  margin-top: 54px;
}

.social .page-footer__item {
  margin-right: 16px;
}

.site-map .page-footer__item {
  width: 62%;
  padding-right: 10px;
}

.page-footer__info-block {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.page-footer__site-map h3,
.page-footer__contacts h3 {
  margin: 0;
  margin-bottom: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 16px;
  color: #1b2d37;
  font-weight: normal;
  font-family: $roboto-condensed;
}

.page-footer__site-map {
  position: relative;
  width: 41.5%;
  margin-right: -55px;
  margin-left: auto;
}

.page-footer__list.site-map {
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
}

.page-footer__list.site-map a {
  font-family: $pt-mono;
  color: rgba(27, 45, 55, 0.5);
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
}

.page-footer__contacts {
  width: 28%;
  margin-left: auto;
  margin-right: 4px;
}

.page-footer__list.contacts {
  display: flex;
  flex-direction: column;
}

.page-footer__contacts a {
  text-decoration: none;
}

.page-footer__contacts a:hover p {
  color: $title-text-color;
}

.page-footer__contacts a:active p {
  color: rgba(0, 178, 255, 0.3);
}

.page-footer__contacts p {
  margin: 0;
  font-size: 15px;
  font-family: $pt-mono;
  line-height: 25px;
  color: rgba(27, 45, 55, 0.5);
}

.page-footer__copyrights span {
  color: rgba(27, 45, 55, 0.5);
  font-size: 13px;
  font-family: $pt-mono;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.page-footer__dates {
  @include visually-hidden;
}

.page-footer__copyrights {
  margin-top: 72px;
}

.page-footer__copyrights a {
  text-decoration: none;
  font-family: $pt-mono;
  color: rgba(27, 45, 55, 0.5);
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.page-footer__link.copyright {
  margin-left: auto;
}

.page-footer__link.confidentiality {
  margin-left: 10%;
}

.page-footer__copyrights a:hover {
  color: $title-text-color;
}

.page-footer__copyrights a:active {
  color: rgba(0, 178, 255, 0.3);
}


.page-footer__copyrights span:nth-child(2) {
  margin-left: 75px;
}

.page-footer__copyrights span:nth-child(3) {
  margin-left: 142px;
}

.page-footer__logo-text p:first-child:hover {
  color: $title-text-color;
}

.page-footer__logo-text p:first-child:active {
  color: rgba(0, 178, 255, 0.3);
}

.page-footer__link svg {
  fill: #cdcdcd;
}

.page-footer__link:hover svg {
  fill: $title-text-color;
}

.page-footer__link:active svg {
  fill: rgba(0, 178, 255, 0.3);
}

.site-map a:hover {
  color: $title-text-color;
}

.page-footer__toggle-button {
  display: none;
}

@media (max-width: $tablet-width) {
  .page-footer {
    &::after {
      top: 77px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 368px;
      background-color: #626962;
      opacity: 0.2;
    }
  }

  .page-footer__wrapper {
    flex-direction: column;
    padding: 0 24px;
  }

  .page-footer__social {
    display: flex;
    flex-direction: row;
  }

  .page-footer__list.social {
    margin-top: 12px;
    margin-left: auto;
    margin-right: -16px;
  }

  .page-footer__site-map {
    margin-left: 0;
  }

  .page-footer__list.site-map {
    max-height: initial;
  }

  .page-footer__copyrights .page-footer__wrapper {
    flex-direction: row;
  }

  .page-footer__copyrights span:first-child,
  .page-footer__copyrights span:nth-child(2) {
    @include visually-hidden;
  }

  .page-footer__copyrights span:last-child {
    margin-left: auto;
    margin-right: 2px;
  }

  .page-footer__dates {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    margin-top: 4px;
    margin-left: auto;
    font-size: 13px;
    font-family: $pt-mono;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgba(27, 45, 55, 0.5);
    position: static;
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    white-space: normal;
    clip-path: none;
    clip: auto;
    overflow: visible;
  }

  .page-footer__info-block {
    margin-top: 62px;
  }

  .page-footer__site-map h3 {
    padding-left: 3px;
  }

  .page-footer__contacts {
    margin-right: 12px;
    width: auto;
  }

  .page-footer__copyrights span:nth-child(3) {
    padding-left: 3px;
    margin-left: 1px;
  }

  .page-footer__copyrights {
    margin-top: 58px;
  }

  .page-footer__list.site-map {
    height: auto;
  }

  .site-map .page-footer__item {
    width: auto;
  }

  .page-footer__link.confidentiality {
    margin-left: 3px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {

    &::before {
      content: none;
    }

    &::after {
      top: 241px;
      opacity: 0.2;
    }
  }

  .page-footer__wrapper {
    padding: 0 12px;
  }

  .page-footer__social {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__list.social {
    margin-left: 0;
    margin-top: 34px;
  }

  .page-footer__dates:not(:focus):not(:active) {
    margin-top: 25px;
    margin-left: -15px;
  }

  .page-footer__info-block {
    flex-direction: column;
    position: relative;
  }

  .page-footer__contacts {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .page-footer__copyrights .page-footer__wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
  }

  .page-footer__copyrights span:last-child {
    margin-left: 0;
    padding-top: 20px;
  }

  .page-footer__toggle-block {
    position: relative;
  }

  .page-footer__site-map .page-footer__toggle-block {
    padding-top: 18px;
    padding-bottom: 27px;
  }

  .page-footer__contacts .page-footer__toggle-block {
    padding-top: 29px;
    padding-bottom: 27px;
  }

  .js-accordeon-opened .page-footer__toggle-button {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    background: url("../img/icon-minus.svg") no-repeat;
    outline: none;
  }

  .js-accordeon-opened .page-footer__toggle-button {
    right: 1px;
    top: 18px;
  }

  .page-footer__contacts.js-accordeon-opened .page-footer__toggle-button {
    right: 1px;
    top: 36px;
  }

  .js-accordeon-closed .page-footer__toggle-button {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    right: 1px;
    top: 18px;
    background: url("../img/icon-plus.svg") no-repeat;
    outline: none;
  }

  .page-footer__contacts.js-accordeon-closed .page-footer__toggle-button {
    background: url("../img/icon-plus.svg") no-repeat;
    top: 28px;
  }

  .page-footer__site-map {
    width: auto;
    margin-right: 0;

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      left: -12px;
      right: -12px;
      background-color: #626962;
      opacity: 0.2;
    }
  }

  .page-footer__contacts::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    left: -12px;
    right: -12px;
    background-color: #626962;
    opacity: 0.2;
  }

  .page-footer__site-map h3 {
    margin: 0;
  }

  .page-footer__contacts h3 {
    margin: 0;
    padding-left: 3px;
  }

  .page-footer__copyrights span:nth-child(3) {
    margin-top: -4px;
  }

  .page-footer__contacts .contacts,
  .page-footer__site-map .site-map {
    display: flex;
    height: auto;
  }

  .js-accordeon-opened .site-map {
    display: flex;
    height: auto;
    padding-bottom: 26px;
  }

  .js-accordeon-closed .site-map {
    display: none;
  }

  .js-accordeon-opened .contacts {
    display: flex;
    margin-top: 5px;
    margin-left: 3px;
    padding-right: 10px;
    padding-bottom: 26px;
  }

  .js-accordeon-closed .contacts {
    display: none;
  }

  .site-map .page-footer__item {
    width: auto;
  }

  .page-footer__copyrights a {
    margin: 0;
  }

  .page-footer__link.confidentiality {
    margin-bottom: 21px;
  }

  .page-footer__copyrights {
    margin-top: -26px;
    margin-bottom: 25px;
  }

  .page-footer__link.copyright {
    margin-left: 0;
  }
}
