.promo {
  background: url("../img/promo-background-desk@1x.png") round;
  background-color: #1b2d37;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/promo-background@2x.png") no-repeat;
    background-size: 1920px 878px;
    background-color: #1b2d37;
  }
}

.promo__description {
  display: flex;
  flex-direction: row;
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 71px;
  background: url("../img/board-desktop@1x.png") 868px 175px no-repeat,
    url("../img/promo-polygon.png") 783px 55px no-repeat;
  color: $primary-text-color;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/board-desktop@2x.png") 867px 174px / 705px 515px no-repeat,
      url("../img/promo-polygon.png") 783px 55px no-repeat;
  }
}

.promo__description-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 8px;
  padding-top: 230px;
  padding-bottom: 261px;
}

.promo__description-text p {
  position: relative;
  padding-top: 6px;
  padding-left: 99px;
  padding-right: 60px;
  font-family: $pt-mono;
  font-size: 22px;
  line-height: 34px;
}

.promo__description-text p::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 2px;
  top: 23px;
  left: 3px;
  background-color: $primary-text-color;
}

.promo__title {
  margin: 0;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.promo__link--advice,
.promo__link--advice-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 407px;
  min-height: 55px;
  padding: 0 26px;
  margin-right: 4px;
  margin-left: 98px;
  margin-top: 20px;
  background-color: #00b2ff;
  border-radius: 5px;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $primary-text-color;
}

.promo__link--advice-mobile {
  display: none;
}

.promo__link--advice:hover {
  background-color: white;
  color: #00b2ff;
}

.promo__link--advice:active {
  color: rgba(0, 178, 255, 0.3);
}

.promo__link--scroll {
  width: 100px;
  transform: rotate(-90deg) translate(-127px, -39px);
  font-family: $pt-mono;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  color: $primary-text-color;
  text-decoration: none;
}

.promo__link--scroll:hover {
  color: #00b2ff;
}

@media (max-width: $tablet-width) {
  .promo {
    background: url("../img/promo-background-desk@1x.png") no-repeat;
    background-color: #1b2d37;
  }

  .promo__title {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  .promo__description-text {
    width: 72%;
    padding-left: 16px;
    padding-top: 117px;
    padding-bottom: 163px;
  }

  .promo__description-text p {
    font-size: 18px;
    line-height: 28px;
    padding-top: 11px;
    padding-left: 52px;
    padding-right: 45px;
  }

  .promo__link--advice {
    margin-left: 52px;
    margin-top: 37px;
  }

  .promo__description-text p::before {
    width: 34px;
    top: 27px;
  }

  .promo__description {
    background: url("../img/board-tablet@1x.png") right 42px no-repeat,
      url("../img/promo-polygon-tablet.png") right -10px no-repeat;
  }

  .promo__link--scroll {
    @include visually-hidden;
  }
}

@media (max-width: $mobile-width) {
  .promo__title {
    font-size: 40px;
    line-height: 47px;
  }

  .promo__description-text p {
    font-size: 16px;
    line-height: 25px;
    padding-left: 51px;
    padding-right: 15px;
  }

  .promo__description-text {
    width: 100%;
    padding-top: 231px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 70px;
  }

  .promo__description {
    padding: 0;
    background: url("../img/board-mobile@1x.png") right 37px no-repeat,
      url("../img/promo-polygon-mobile.png") right -25px no-repeat;
  }

  .promo__link--advice {
    display: none;
  }

  .promo__link--advice-mobile {
    display: flex;
    margin: 0;
    margin-top: 24px;
  }
}
