
$mobile-width: 767px;
$tablet-width: 1023px;

/* преобладающий цвет текста на странице */
$primary-text-color: #ffffff;

/* шрифты */
$roboto: "Roboto", "Arial", sans-serif;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$pt-mono: "PT Mono", "Courier", monospace;
